.dir-wrapper {
  padding: 1rem;
  box-sizing: border-box;
  table {
    border-collapse: collapse;
    width: 100%;
    th {
      padding: 1rem;
      font-size: 1.4rem;
      font-weight: 500;
    }
    .dir-actions-wrapper {
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-around;
    }
    td {
      padding: 0.8rem;
    }
    thead tr th:nth-child(1) {
        text-align: start;
      }
    tbody tr td:nth-child(1) {
      flex-grow: 1;
    }
  }
}
